<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<footer class="container">
    <div class="site-footer">
        <div class="copyright pull-left">
            <!-- Please do not change this line so that others can know the source of the template. Thank you -->
            <!-- Please keep this line to let others know where this theme comes from. Thank you :D -->
            <span class="ft-warn">&heartsuit;</span>&nbsp;Theme
            <a href="https://github.com/DONGChuan/Yummy-Jekyll">Yummy Jekyll</a>
            &nbsp;•&nbsp;&copy;&nbsp;<a th:text="${configurations.get('footerAbout')}">your singal blog.</a> &nbsp;•&nbsp;
        </div>
        <a href="https://github.com/ZHENFENG13" target="_blank" aria-label="view source code">
            <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
        </a>
        <div class="pull-right">
            ICP <a href="http://www.beian.miit.gov.cn" th:text="${configurations.get('footerICP')}">Hà Nội</a>&nbsp;•&nbsp;
            <a href="javascript:window.scrollTo(0,0)">TOP</a>
        </div>
    </div>
    <!-- Third-Party JS -->
    <script type="text/javascript" th:src="@{/blog/yummy-jekyll/plugins/geopattern/js/geopattern.min.js}"></script>
    <!-- My JS -->
    <script type="text/javascript" th:src="@{/blog/yummy-jekyll/assets/js/script.js}"></script>
</footer>
</body>
</html>