<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('footerAbout')}">Luca blog.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://github.com/thanhbui99" target="_blank" th:text="${configurations.get('footerCopyRight')}">2021</a><br/>
        ICP <a href="#" th:text="${configurations.get('footerICP')}">Hà Nội</a>
        <span class="ft-warn">&heartsuit;</span>
        Theme <a rel="friend" href="https://github.com/spiritree/typecho-theme-amaze" target="_blank"> Amaze</a> by <a href="https://github.com/spiritree" target="_blank">spiritree</a> & <a href="https://github.com/thanhbui99" target="_blank">thanh.bn</a>
    </div>
</footer>
</html>