<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment">
    <meta charset="utf-8">
    <title th:text="|${configurations.get('websiteName')} - ${pageName}|">Home page</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Window-target" content="_top"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
</head>
<nav th:fragment="nav-fragment" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-for="toggle-items">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:text="${configurations.get('websiteName')}">
            </a>
        </div>
        <div class="navbar-collapse" style="display: none;" id="toggle-items" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="@{/category/Database}">DATABASE</a>
                </li>
                <li>
                    <a th:href="@{/category/Java}">JAVA</a>
                </li>
                <li>
                    <a th:href="@{/category/Spring}">SPRING</a>
                </li>
                <li>
                    <a href="https://github.com/thanhbui99">GitHub</a>
                </li>
            </ul>
        </div>
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/category/Database}">DATABASE</a>
                    </li>
                    <li>
                        <a th:href="@{/category/Java}">JAVA</a>
                    </li>
                    <li>
                        <a th:href="@{/category/Spring}">SPRING</a>
                    </li>
                    <li>
                        <a href="https://github.com/thanhbui99">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
        <script th:src="@{/blog/default/js/jquery.min.js}"></script>
        <script>
            $(function () {
                $('.navbar-toggle').click(function () {
                    $('#toggle-items').fadeToggle("fast");
                });
            })
        </script>
    </div>
    <!-- /.container -->
</nav>
<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url(' + @{/blog/amaze/images/header.jpg} + ');'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
          <span class="subheading">
              “Thiên tài 1% là cảm hứng và 99% là mồ hôi” – Thomas Edison
          </span>
                </div>
            </div>
        </div>
    </div>
</header>
</html>