<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/amaze/header::nav-fragment"></div>
<div th:replace="blog/amaze/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
        <main class="links-list">
            <th:block th:unless="${#lists.isEmpty(favoriteLinks)}">
                <div class="title">
                    <h3>JAVA</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="favoriteLink : ${favoriteLinks}">
                            <li><a th:href="@{${favoriteLink.linkUrl}}"
                                   th:text="${favoriteLink.linkName}">Friends chain</a>
                                -
                                <th:block th:text="${favoriteLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(recommendLinks)}">
                <div class="title">
                    <h3>Recommended website</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="recommendLink : ${recommendLinks}">
                            <li><a th:href="@{${recommendLink.linkUrl}}" th:text="${recommendLink.linkName}">Recommended website</a>
                                -
                                <th:block th:text="${recommendLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(personalLinks)}">
                <div class="title">
                    <h3>Personal link</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="personalLink : ${personalLinks}">
                            <li><a th:href="@{${personalLink.linkUrl}}"
                                   th:text="${personalLink.linkName}">Personal link</a>
                                -
                                <th:block th:text="${personalLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <h2 id="Personal link">Link notice</h2>
            <p>Welcome to exchange friend chains ^_^ But please make sure your station can operate normally.</p>
            <p>我的邮箱是
                <th:block th:text="${configurations.get('yourEmail')}"></th:block>
                , The format requirements are as follows:
            </p>
            <ul>
                <li>Site name：13blog</li>
                <li>Website link：http://13blog.site</li>
                <li>Website description: Thirteen's personal blog</li>
            </ul>

            <p>Please ensure that your link is valid for a long time, Otherwise it may be cleaned up.</p>

        </main>
    </div>
</div>
<!-- Introduce footer-fragment -->
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
</html>