<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer-fragment">
    <div class="widewrapper footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-widget">
                    <h3><i class="fa fa-user"></i>About</h3>
                    <p th:text="${configurations.get('footerAbout')}">Luca blog.</p>
                </div>

                <div class="col-md-3 footer-widget">
                    <h3><i class="fa fa-info-circle"></i>ICP</h3>
                    <p th:text="${configurations.get('footerICP')}">Hà Nội</p>
                </div>

                <div class="col-md-3 footer-widget">
                    <h3><i class="fa fa-copyright"></i>Copy Right</h3>
                    <p th:text="${configurations.get('footerCopyRight')}">2021</p>
                </div>

                <div class="col-md-3 footer-widget">
                    <h3><i class="fa fa-arrow-circle-o-up"></i>Powered By</h3>
                    <a th:href="${configurations.get('footerPoweredByURL')}">
                        <th:block th:text="${configurations.get('footerPoweredBy')}"></th:block>
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>
</html>